*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: sans-serif;
}

.titel_startseite {
display: flex;
justify-content: center;
align-items: center;
position: relative;
width: 77%;
height: 135px;
position: relative;left: 160px;
}

.titel_startseite > div.content {
  color: rgba(0, 0, 0, 0.67);
  z-index: 1;
}

.titel_startseite > div.bg-img {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
}

.titel_startseite > div.bg-img > img {
  width: 100%;
  transform: translateY(-4%);
}

.text_settings {
position: relative; left: 160px;
width: 1130px;
}

